[data-theme="light"] {
  --bg-color: #eee9f7;
  --text-color: #b15320;
  --checkbox-color: #decef0;
  --button-color: #eb4891;
}

[data-theme="dark"] {
  --bg-color: #1a1423;
  --text-color: #96705b;
  --checkbox-color: #3d314a;
  --button-color: #684756;
}

input[type="checkbox"] {
  transform: scale(2);
}

.list-item-done {
  text-decoration: line-through;
}

.form-control {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
}

.form-control:focus {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 25px;
  box-shadow: none;
}

.input-group-text {
  background-color: var(--bg-color);
  border: none;
}

.form-check-input {
  background-color: var(--checkbox-color);
  color: var(--text-color);
}

.form-check-input:focus {
  background-color: var(--checkbox-color);
  box-shadow: none;
  border: none;
  color: var(--text-color);
}

.form-check-input:checked {
  background-color: var(--checkbox-color);
  box-shadow: none;
  border: none;
  color: var(--text-color);
}

.btn-primary {
  background-color: var(--button-color);
  border-color: var(--button-color);
  color: var(--bg-color);
}

.btn-primary:focus {
  background-color: var(--button-color);
  border-color: var(--button-color);
  color: var(--bg-color);
  box-shadow: none;
}

.btn-primary:hover {
  background-color: var(--text-color);
  border-color: var(--text-color);
  color: var(--bg-color);
}

.app {
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
}
